@use "./variables" as *;
@use "./reset";
@use "./burger";
@use "./fonts";
@use "./swiper";
body {
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: rgba(248, 248, 248, 1);
  font-family: "TT Lakes";
}
.header {
  display: flex;
  border-bottom: 1px solid rgba(184, 255, 236, 1);
  flex-direction: row;
  background-color: rgba(255, 255, 255, 1);
}
.header__main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 88px;
  padding: 0 16px;
  /* gap: 20px */
  width: 100%;
}
.header__burger {
  height: 40px;
  width: 40px;
  background: none;
  border: none;
  cursor: pointer;
}
.header__divider-first {
  display: none;
  width: 2px;
  height: 32px;
  border: none;
}
.header__divider-second {
  width: 2px;
  height: 32px;
  border: none;
}

.header__logo {
  width: 96.55px;
  height: 50.81px;
  background: none;
  border: none;
}
.contact-us {
  display: none;
}
.contact-us__call {
  height: 40px;
  width: 40px;
  background: none;
  border: none;
}
.contact-us__chat {
  height: 40px;
  width: 40px;
  background: none;
  border: none;
}
.contact-us__profile {
  height: 40px;
  width: 40px;
  background: none;
  border: none;
}
.header__repair {
  width: 40px;
  height: 40px;
  background: none;
  border: none;
}
.header__checkstatus {
  width: 40px;
  height: 40px;
  background: none;
  border: none;
}
.main {
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: rgba(248, 248, 248, 1);
}
.main__services {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.main__title {
  display: flex;
  height: 40px;
  gap: 16px;
  justify-content: flex-start;
}
.main__title-name {
  height: 40px;
  font-family: "TT Lakes";
  font-weight: 700;
  font-size: 28px;
  gap: 12px;
  color: #1b1c21;
}
.main__services-buttons {
  display: none;
}
.main__menu {
  overflow-x: auto;
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #7e7e82;
  gap: 16px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.main__menu::-webkit-scrollbar {
  display: none;
}
.main__menu-items {
  display: flex;
  overflow-x: auto;
  padding-left: 16px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.main__menu-items::-webkit-scrollbar {
  display: none;
}
.main__menu-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.main__menu-item {
  padding: 8px 16px;
  flex: 0 0 auto;
  white-space: nowrap;
  cursor: pointer;
}
.main__menu-item--active {
  border: 2px solid rgba(184, 255, 236, 1);
  border-radius: 5px;
  background-color: white;
}
.main__information {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.main__information-left {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.information__text {
  display: flex;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #1b1c21;
}

.information__text-second {
  display: none;
}
.main__information-more {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  padding: 0 16px;
}
.information-more__img {
  gap: 16px;
  height: 24px;
  width: 24px;
}
.information-more__txt {
  font-weight: 500;
  font-size: 16px;
  height: 24px;
  font-family: "TT Lakes";
}
.photo-office {
  width: 100%;
}
.header__nav-left {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.header__nav-right {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.header__nav-left {
  display: flex;
  align-items: center;
  gap: 16px;
}
.header__nav-right {
  display: flex;
  gap: 16px;
  align-items: center;
}
.information__text-first {
  display: flex;
  padding: 0 16px 0 16px;
}

@media (min-width: 767px) {
  .header__divider-first {
    display: block;
  }
  .contact-us {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .information__text-second {
    display: block;
  }
  .main {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  .main__menu {
    overflow-x: hidden;
    width: 100%;
  }
  .main__title {
    display: flex;
    gap: 24px;
    padding-right: 15px;
  }
  .main__menu-items {
    display: flex;
    padding-left: 24px;
  }
  .main__information {
    display: flex;
    flex-direction: row;
    gap: 48px;
  }
  .main__information-left {
    gap: 10px;
    display: flex;
    flex-direction: column;
    width: 47%;
  }
  .information__text {
    display: flex;
    flex-direction: column;
    gap: 26px;
    padding-left: 24px;
    line-height: 20px;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.2px;
  }
  .information__text-first {
    line-height: 20px;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.3px;
    padding: 0;
    width: 98%;
  }
  .information__text-second {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 20px;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.2px;
  }

  .main__information-right {
    display: flex;
    width: 50%;
    padding: 0 40px 0 0;
  }
  .photo-office {
    width: 100%;
    border-radius: 6px;
    padding-right: 25;
  }
  .main__information-more {
    display: flex;
    padding-left: 25px;
    gap: 8px;
  }

  .main__menu-list {
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
  }
}
@media (min-width: 1120px) {
  .header {
    display: none;
  }
  .main {
    padding-top: 42px;
    gap: 7px;
    padding-right: 25px;
  }
  .main__services-buttons {
    display: flex;
    gap: 32px;
  }
  .button_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border: none;
    background-color: rgba(248, 248, 248, 1);
    font-family: "TT Lakes";
    font-size: 16px;
    font-weight: 500;
  }
  .main__services {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 7px;
    width: 100%;
  }
  .main__title {
    gap: 32px;
  }
  .main__menu {
    overflow-x: visible;
    gap: 32px;
  }
  .main__menu-items {
    display: flex;
    font-family: "TT Lakes";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
    overflow-x: visible;
    gap: 32px;
    width: 100%;
    padding: 0;
  }

  .main__menu-item {
    padding: 8.63px 22.64px;
    gap: 1px;
    flex-wrap: wrap;
  }
  .information-more__img {
    display: flex;
  }
  .main__information-right {
    display: flex;
  }
  .main__information {
    display: flex;
  }
  .main__menu-list {
    flex-wrap: wrap;
    padding: 0 0 0 34px;
  }
  .information__text {
    padding: 9px 0 0 34px;
  }
  .photo-office {
    padding-right: 3.65px;
  }
  .main__information-more {
    padding: 3.78px 0 0 32px;
  }
  .main__title-divider {
    height: 40px;
    width: 3px;
  }
}
